Repository molgenis/molgenis-ops-helm, pull requests merged in 2019-03, with the labels that each got.

#121 feat(opencpu): make resources and server config configurable
  charts/molgenis-opencpu/Chart.yaml
  charts/molgenis-opencpu/questions.yml
  charts/molgenis-opencpu/templates/configmap.yaml
  charts/molgenis-opencpu/templates/deployment.yaml
  charts/molgenis-opencpu/values.yaml
Labels: opencpu

#128 [WEBSITE][FEAT} Add molgenis website to kill other repository
  charts/molgenis-website/.helmignore
  charts/molgenis-website/Chart.yaml
  charts/molgenis-website/README.md
  charts/molgenis-website/catalogIcon-molgenis-website.png
  charts/molgenis-website/questions.yml
  charts/molgenis-website/templates/_helpers.tpl
  charts/molgenis-website/templates/deployment.yaml
  charts/molgenis-website/templates/ingress.yaml
  charts/molgenis-website/templates/service.yaml
  charts/molgenis-website/values.yaml
Labels: chart-website, enhancement

#85 [MOLGENIS][FEAT] Add mailhost for molgens
  charts/molgenis-jenkins/resources/preview/Jenkinsfile
  charts/molgenis-jenkins/resources/tests/e2e/Jenkinsfile
  charts/molgenis-jenkins/resources/tests/nightly/Jenkinsfile
  charts/molgenis/Chart.yaml
  charts/molgenis/questions.yml
  charts/molgenis/templates/deployment.yaml
  charts/molgenis/values.yaml
Labels: blocked, bug, chart-molgenis
