Repository molgenis/molgenis-ops-helm, pull requests merged in 2019-06, with the labels that each got.

#151 [JENKINS][FIX] Downgrade maven to 3.6.0 for JDK 11
  charts/molgenis-jenkins/Chart.yaml
  charts/molgenis-jenkins/values.yaml
Labels: bug, chart-jenkins

#152 feat: serve on @molgenis-ui
  charts/molgenis-frontend/Chart.yaml
  charts/molgenis-frontend/templates/backend-conf.yaml
  charts/molgenis-frontend/templates/backend-deployment.yaml
  charts/molgenis-frontend/templates/backend-service.yaml
  charts/molgenis-frontend/templates/frontend-deployment.yaml
  charts/molgenis-frontend/templates/frontend-service.yaml
  charts/molgenis-frontend/templates/ingress.yaml
  charts/molgenis-frontend/values.yaml
Labels: chart-molgenis-frontend

#158 feat(proxy): add proxy chart
  charts/molgenis-frontend/catalogIcon-molgenis-frontend.png
  charts/molgenis-proxy/.helmignore
  charts/molgenis-proxy/Chart.yaml
  charts/molgenis-proxy/catalogIcon-molgenis-proxy.png
  charts/molgenis-proxy/questions.yml
  charts/molgenis-proxy/templates/NOTES.txt
  charts/molgenis-proxy/templates/_helpers.tpl
  charts/molgenis-proxy/templates/deployment.yaml
  charts/molgenis-proxy/templates/ingress.yaml
  charts/molgenis-proxy/templates/proxy-conf.yaml
  charts/molgenis-proxy/templates/service.yaml
  charts/molgenis-proxy/values.yaml
Labels: chart-proxy, enhancement

#159 refactor(frontend): use proxy subchart
  charts/molgenis-frontend/Chart.yaml
  charts/molgenis-frontend/README.md
  charts/molgenis-frontend/charts/molgenis-proxy-0.1.0.tgz
  charts/molgenis-frontend/questions.yml
  charts/molgenis-frontend/requirements.lock
  charts/molgenis-frontend/requirements.yaml
  charts/molgenis-frontend/templates/NOTES.txt
  charts/molgenis-frontend/templates/_helpers.tpl
  charts/molgenis-frontend/templates/backend-conf.yaml
  charts/molgenis-frontend/templates/backend-deployment.yaml
  charts/molgenis-frontend/templates/backend-service.yaml
  charts/molgenis-frontend/templates/ingress.yaml
  charts/molgenis-frontend/values.yaml
Labels: chart-molgenis-frontend

#160 feat(molgenis): proxy frontend server
  charts/molgenis/Chart.yaml
  charts/molgenis/README.md
  charts/molgenis/charts/molgenis-proxy-0.1.0.tgz
  charts/molgenis/molgenis-proxy.png
  charts/molgenis/questions.yml
  charts/molgenis/requirements.lock
  charts/molgenis/requirements.yaml
  charts/molgenis/templates/_helpers.tpl
  charts/molgenis/values.yaml
Labels: chart-molgenis, enhancement

#161 docs(frontend): add proxy diagram
  charts/molgenis-frontend/README.md
  charts/molgenis-frontend/molgenis-frontend-proxy.png
Labels: chart-molgenis-frontend
