Repository molgenis/molgenis-ops-helm, pull requests merged in 2019-08, with the labels that each got.

#183 [Logging] Enhanchments: Added custom dashboards with import
  charts/molgenis-logging/.helmignore
  charts/molgenis-logging/Chart.yaml
  charts/molgenis-logging/templates/import_job_bootstrap_files/custom_dashboards.ndjson.zip
  charts/molgenis-logging/templates/job-bootstrap.yaml
Labels: chart-logging

#184 [Molgenis-oauth2](Feat) add oauth2 proxy
  charts/molgenis-logging/questions.yml
  charts/molgenis-logging/templates/secret-kibana.yaml
  charts/molgenis-logging/values.yaml
  charts/molgenis-oauth2/.helmignore
  charts/molgenis-oauth2/Chart.yaml
  charts/molgenis-oauth2/charts/oauth2-proxy-0.14.0.tgz
  charts/molgenis-oauth2/questions.yml
  charts/molgenis-oauth2/requirements.lock
  charts/molgenis-oauth2/requirements.yaml
  charts/molgenis-oauth2/values.yaml
Labels: chart-oauth2

#187 Bump [import custom dashboard] removed arg from bootstrap because of …
  charts/molgenis-logging/Chart.yaml
  charts/molgenis-logging/catalogItem-molgenis-logging.png
  charts/molgenis-logging/templates/job-bootstrap.yaml
Labels: chart-logging

#188 Feat [add oauth2-proxy] Added icon.
  charts/molgenis-oauth2/Chart.yaml
  charts/molgenis-oauth2/catalogIcon-molgenis-oauth2-proxy.png
Labels: chart-oauth2, enhancement

#185 feat: add sonar container to shared pod template
  charts/molgenis-jenkins/Chart.yaml
  charts/molgenis-jenkins/values.yaml
Labels: chart-jenkins

#192 Feat: Molgenis-ols test initiative
  charts/molgenis-ols/.helmignore
  charts/molgenis-ols/Chart.yaml
  charts/molgenis-ols/README.md
  charts/molgenis-ols/questions.yml
  charts/molgenis-ols/templates/NOTES.txt
  charts/molgenis-ols/templates/_helpers.tpl
  charts/molgenis-ols/templates/deployment.yaml
  charts/molgenis-ols/templates/ingress.yaml
  charts/molgenis-ols/templates/secret-ols.yaml
  charts/molgenis-ols/templates/service.yaml
  charts/molgenis-ols/templates/tests/test-connection.yaml
  charts/molgenis-ols/values.yaml
Labels: chart-ols

#191 feat(vault): move to production, including backups
  charts/molgenis-jenkins/values.yaml
  charts/molgenis-vault/Chart.yaml
  charts/molgenis-vault/README.md
  charts/molgenis-vault/catalogIcon-molgenis-vault.png
  charts/molgenis-vault/catalogIcon-molgenis-vault.svg
  charts/molgenis-vault/charts/etcd-operator-0.8.0.tgz
  charts/molgenis-vault/charts/etcd-operator-0.8.4.tgz
  charts/molgenis-vault/questions.yml
  charts/molgenis-vault/resources/backup.yaml
  charts/molgenis-vault/resources/restore.yaml
  charts/molgenis-vault/resources/vault-nodeport.yaml
  charts/molgenis-vault/templates/abs-secret.yaml
  charts/molgenis-vault/templates/aws-secret.yaml
  charts/molgenis-vault/templates/backup-configmap.yaml
  charts/molgenis-vault/values.yaml
Labels: chart-jenkins, chart-vault

#189 fix(jenkins): set GitHub authorization strategy
  charts/molgenis-jenkins/templates/config.tpl
Labels: chart-jenkins

#194 feat(nexus): GitHub authentication integration and upgrade to 3.17.0
  charts/molgenis-nexus/Chart.yaml
  charts/molgenis-nexus/README.md
  charts/molgenis-nexus/questions.yml
  charts/molgenis-nexus/values.yaml
Labels: chart-nexus, enhancement

#200 fix(vault): warn about special characters
  charts/molgenis-vault/Chart.yaml
  charts/molgenis-vault/questions.yml
Labels: chart-vault

#141 [JENKINS][FEAT] Add cronjob to cleanup preview
  charts/molgenis-jenkins/Chart.yaml
  charts/molgenis-jenkins/values.yaml
Labels: chart-jenkins, enhancement
