Repository molgenis/molgenis-ops-helm, pull requests merged in 2019-07, with the labels that each got.

#164 fix(jenkins): upgrade token-macro plugin
  charts/molgenis-jenkins/Chart.yaml
  charts/molgenis-jenkins/values.yaml
Labels: chart-jenkins

#168 [FRONTED][FEAT] Frontend chart with configurable locations
  charts/molgenis-frontend/Chart.yaml
  charts/molgenis-frontend/README.md
  charts/molgenis-frontend/charts/molgenis-proxy-0.1.0.tgz
  charts/molgenis-frontend/questions.yml
  charts/molgenis-frontend/requirements.lock
  charts/molgenis-frontend/requirements.yaml
  charts/molgenis-frontend/templates/NOTES.txt
  charts/molgenis-frontend/templates/_helpers.tpl
  charts/molgenis-frontend/templates/configmaps/proxy-backend.yaml
  charts/molgenis-frontend/templates/configmaps/proxy-custom.yaml
  charts/molgenis-frontend/templates/deployment.yaml
  charts/molgenis-frontend/templates/frontend-deployment.yaml
  charts/molgenis-frontend/templates/ingress.yaml
  charts/molgenis-frontend/templates/service.yaml
  charts/molgenis-frontend/values.yaml
Labels: chart-molgenis-frontend, enhancement

#178 feat(logging): add logging
  README.md
  charts/molgenis-logging/.helmignore
  charts/molgenis-logging/Chart.yaml
  charts/molgenis-logging/README.md
  charts/molgenis-logging/charts/elasticsearch-7.2.0.tgz
  charts/molgenis-logging/charts/kibana-7.2.0.tgz
  charts/molgenis-logging/questions.yml
  charts/molgenis-logging/requirements.lock
  charts/molgenis-logging/requirements.yaml
  charts/molgenis-logging/templates/job-bootstrap.yaml
  charts/molgenis-logging/templates/secret-elasticsearch.yaml
  charts/molgenis-logging/templates/secret-kibana.yaml
  charts/molgenis-logging/values.yaml
Labels: chart-logging, enhancement

#181 [Molgenis-logging][FIX] Password store fix
  charts/molgenis-logging/Chart.yaml
  charts/molgenis-logging/templates/secret-elasticsearch.yaml
  charts/molgenis-logging/templates/secret-kibana.yaml
Labels: chart-logging, enhancement

#172 style(cafe-molgenis): renamed to molgenis-cafe
  charts/molgenis-cafe/.helmignore
  charts/molgenis-cafe/Chart.yaml
  charts/molgenis-cafe/catalogIcon-cafe-molgenis.png
  charts/molgenis-cafe/questions.yml
  charts/molgenis-cafe/templates/NOTES.txt
  charts/molgenis-cafe/templates/_helpers.tpl
  charts/molgenis-cafe/templates/deployment.yaml
  charts/molgenis-cafe/templates/ingress.yaml
  charts/molgenis-cafe/templates/service.yaml
  charts/molgenis-cafe/values.yaml
Labels: enhancement

#173 fix(custom-redirect): custom unpkg redirect
  charts/molgenis-frontend/Chart.yaml
  charts/molgenis-frontend/README.md
  charts/molgenis-frontend/questions.yml
  charts/molgenis-frontend/templates/_helpers.tpl
  charts/molgenis-frontend/templates/configmaps/proxy-backend.yaml
  charts/molgenis-frontend/templates/configmaps/proxy-custom.yaml
  charts/molgenis-frontend/values.yaml
Labels: bug, chart-frontend

#176 feat(frontend): add frontend to molgenis
  charts/molgenis-jenkins/resources/preview/Jenkinsfile
  charts/molgenis-jenkins/resources/tests/e2e-commander/Jenkinsfile
  charts/molgenis-jenkins/resources/tests/live/Jenkinsfile
  charts/molgenis/Chart.yaml
  charts/molgenis/README.md
  charts/molgenis/charts/molgenis-elasticsearch-1.0.0.tgz
  charts/molgenis/charts/molgenis-frontend-1.1.2.tgz
  charts/molgenis/charts/molgenis-proxy-0.1.0.tgz
  charts/molgenis/questions.yml
  charts/molgenis/requirements.lock
  charts/molgenis/requirements.yaml
  charts/molgenis/templates/_helpers.tpl
  charts/molgenis/templates/ingress.yaml
  charts/molgenis/values.yaml
Labels: chart-molgenis, enhancement
