Repository molgenis/molgenis-ops-helm, pull requests merged in 2020-01, with the labels that each got.

#227 feat(prometheus) Add in prometheus-prod changes
  charts/molgenis-prometheus/Chart.yaml
  charts/molgenis-prometheus/README.md
  charts/molgenis-prometheus/charts/prometheus-8.4.5.tgz
  charts/molgenis-prometheus/charts/prometheus-9.3.1.tgz
  charts/molgenis-prometheus/questions.yml
  charts/molgenis-prometheus/requirements.lock
  charts/molgenis-prometheus/requirements.yaml
  charts/molgenis-prometheus/scripts/k8sScrapeTargetExtractor.sh
  charts/molgenis-prometheus/templates/getTargets-cronjob-secrets.yaml
  charts/molgenis-prometheus/templates/getTargets-cronjob.yaml
  charts/molgenis-prometheus/templates/molgenis-metrics-scrape-secrets.yaml
  charts/molgenis-prometheus/templates/roleBindUpdateConfigmapRbac.yaml
  charts/molgenis-prometheus/templates/serverfiles-configmap.yaml
  charts/molgenis-prometheus/templates/targets-configmap.yaml
  charts/molgenis-prometheus/templates/update-configmap-bot.yaml
  charts/molgenis-prometheus/templates/updateConfigmapRbac.yaml
  charts/molgenis-prometheus/values.yaml
Labels: chart-prometheus

#253 chore(jenkins): upgrade to 2.215
  charts/molgenis-jenkins/Chart.yaml
  charts/molgenis-jenkins/README.md
  charts/molgenis-jenkins/charts/jenkins-0.18.0.tgz
  charts/molgenis-jenkins/charts/jenkins-1.9.16.tgz
  charts/molgenis-jenkins/questions.yml
  charts/molgenis-jenkins/requirements.lock
  charts/molgenis-jenkins/requirements.yaml
  charts/molgenis-jenkins/resources/cleanup/Jenkinsfile
  charts/molgenis-jenkins/resources/preview/Jenkinsfile
  charts/molgenis-jenkins/resources/tests/e2e-commander/Jenkinsfile
  charts/molgenis-jenkins/resources/tests/e2e/Jenkinsfile
  charts/molgenis-jenkins/resources/tests/live/Jenkinsfile
  charts/molgenis-jenkins/resources/tests/nightly/Jenkinsfile
  charts/molgenis-jenkins/templates/config.tpl
  charts/molgenis-jenkins/templates/molgenis-pipeline-vault-secret.yaml
  charts/molgenis-jenkins/values.yaml
Labels: chart-jenkins

#260 elasticsearch: fix ulimits warnings
  charts/molgenis-elasticsearch/Chart.yaml
  charts/molgenis-elasticsearch/templates/deployment.yaml
Labels: bug, chart-elasticsearch

#256 fix: es version to 5.5.3
  charts/molgenis-elasticsearch/Chart.yaml
  charts/molgenis-elasticsearch/values.yaml
Labels: bug, chart-elasticsearch

#255 fix: downgrade elastic to 5.5.3, remove warnings
  charts/molgenis/Chart.yaml
  charts/molgenis/charts/molgenis-elasticsearch-1.1.0.tgz
  charts/molgenis/charts/molgenis-elasticsearch-2.0.0.tgz
  charts/molgenis/charts/molgenis-frontend-1.4.0.tgz
  charts/molgenis/requirements.lock
  charts/molgenis/requirements.yaml
Labels: DO NOT MERGE, bug, chart-molgenis
