Repository molgenis/molgenis-ops-helm, pull requests merged in 2020-09, with the labels that each got.

#340 task: Keep around the frontend pr's a bit longer
  charts/molgenis-jenkins/Chart.yaml
  charts/molgenis-jenkins/resources/cleanup-excluding-frontend/Jenkinsfile
  charts/molgenis-jenkins/values.yaml
Labels: chart-jenkins

#341 change cron format to more standard format, and update jenkins version
  charts/molgenis-jenkins/Chart.yaml
  charts/molgenis-jenkins/values.yaml
Labels: chart-jenkins

#342 fix: Rollback preview cleanup change
  charts/molgenis-jenkins/Chart.yaml
  charts/molgenis-jenkins/values.yaml
Labels: chart-jenkins

#351 fix(logging) enlarged heap size
  charts/molgenis-logging/Chart.yaml
  charts/molgenis-logging/values.yaml
Labels: chart-logging

#343 feat(script) bash to python
  charts/molgenis-prometheus/Chart.yaml
  charts/molgenis-prometheus/scripts/serverlistRequester.py
  charts/molgenis-prometheus/templates/getTargets-cronjob.yaml
  charts/molgenis-prometheus/templates/serverfiles-configmap.yaml
  charts/molgenis-prometheus/templates/targets-configmap.yaml
Labels: chart-prometheus
