Repository molgenis/molgenis-ops-helm, pull requests merged in 2020-07, with the labels that each got.

#322 fix(prometheus) add sites to monitoring
  charts/molgenis-prometheus/Chart.yaml
  charts/molgenis-prometheus/scripts/targetWebGet.sh
Labels: chart-prometheus

#330 fix: add quotes to values of ingress annotations
  charts/molgenis-armadillo/Chart.yaml
  charts/molgenis-armadillo/templates/ingress.yaml
  charts/molgenis-armadillo/values.yaml
Labels: bug, chart-armadillo

#333 feat: add proxy timout
  charts/molgenis/Chart.yaml
  charts/molgenis/charts/molgenis-elasticsearch-2.0.0.tgz
  charts/molgenis/charts/molgenis-frontend-1.5.1.tgz
  charts/molgenis/charts/molgenis-frontend-1.6.0.tgz
  charts/molgenis/requirements.lock
  charts/molgenis/requirements.yaml
Labels: chart-molgenis
