Repository molgenis/molgenis-ops-helm, pull requests merged in 2020-02, with the labels that each got.

#259 fix: switch to /bin/bash for more process handling options
  charts/molgenis-jenkins/Chart.yaml
  charts/molgenis-jenkins/values.yaml
Labels: bug, chart-jenkins

#250 fix: upgrade to hubot 1.0.1 chart and upgrade jenkins preview job
  charts/molgenis-hubot/Chart.yaml
  charts/molgenis-hubot/charts/hubot-0.0.1.tgz
  charts/molgenis-hubot/charts/hubot-1.0.1.tgz
  charts/molgenis-hubot/questions.yaml
  charts/molgenis-hubot/requirements.lock
  charts/molgenis-hubot/requirements.yaml
  charts/molgenis-hubot/values.yaml
Labels: chart-hubot

#264 FIX: reintroduce jdk8 pod
  charts/molgenis-jenkins/Chart.yaml
  charts/molgenis-jenkins/values.yaml
Labels: bug, chart-jenkins

#266 feat(frontend): total control over proxy.d conf
  charts/molgenis-frontend/Chart.yaml
  charts/molgenis-frontend/README.md
  charts/molgenis-frontend/templates/deployment.yaml
  charts/molgenis-frontend/templates/proxy-configmap.yaml
  charts/molgenis-frontend/values.yaml
Labels: chart-frontend

#268 fix(frontend): proper indent of configmap
  charts/molgenis-frontend/Chart.yaml
  charts/molgenis-frontend/templates/proxy-configmap.yaml
Labels: chart-frontend

#267 feat(molgenis): full control over proxy config
  charts/molgenis/Chart.yaml
  charts/molgenis/charts/molgenis-elasticsearch-2.0.0.tgz
  charts/molgenis/charts/molgenis-frontend-1.4.0.tgz
  charts/molgenis/charts/molgenis-frontend-1.5.1.tgz
  charts/molgenis/questions.yml
  charts/molgenis/requirements.lock
  charts/molgenis/requirements.yaml
Labels: chart-molgenis

#270 feat: Add chart for datashield service
  charts/molgenis-datashield/.helmignore
  charts/molgenis-datashield/Chart.yaml
  charts/molgenis-datashield/catalogIcon-molgenis-datashield.png
  charts/molgenis-datashield/questions.yml
  charts/molgenis-datashield/templates/NOTES.txt
  charts/molgenis-datashield/templates/_helpers.tpl
  charts/molgenis-datashield/templates/config.yaml
  charts/molgenis-datashield/templates/deployment.yaml
  charts/molgenis-datashield/templates/ingress.yaml
  charts/molgenis-datashield/templates/service.yaml
  charts/molgenis-datashield/values.yaml
Labels: chart-datashield

#271 fix(jenkins): schedule nightly jobs differently
  charts/molgenis-jenkins/resources/tests/e2e-commander/Jenkinsfile
  charts/molgenis-jenkins/resources/tests/e2e/Jenkinsfile
  charts/molgenis-jenkins/resources/tests/live/Jenkinsfile
  charts/molgenis-jenkins/resources/tests/nightly/Jenkinsfile
  charts/molgenis-jenkins/values.yaml
Labels: chart-jenkins
