Repository molgenis/molgenis-ops-helm, pull requests merged in 2021-02, with the labels that each got.

#381 fix(jenkins): update plugins
  charts/molgenis-jenkins/Chart.yaml
  charts/molgenis-jenkins/questions.yml
  charts/molgenis-jenkins/values.yaml
Labels: bug, chart-jenkins

#395 changes:
  charts/molgenis-jenkins/Chart.yaml
  charts/molgenis-jenkins/values.yaml
Labels: chart-jenkins

#391 Changed:
  charts/molgenis-prometheus/Chart.yaml
  charts/molgenis-prometheus/scripts/serverlistRequester.py
  charts/molgenis-prometheus/templates/getTargets-cronjob.yaml
  charts/molgenis-prometheus/templates/serverfiles-configmap.yaml
  charts/molgenis-prometheus/templates/targets-configmap.yaml
Labels: chart-prometheus
