Repository molgenis/molgenis-ops-helm, pull requests merged in 2022-08, with the labels that each got.

#491 fix: bumped in the lifelines the molgenis subchart to 1.16.2
  charts/lifelines-webshop/Chart.yaml
  charts/lifelines-webshop/charts/lifelines-edge-2.0.0.tgz
  charts/lifelines-webshop/charts/molgenis-1.12.3.tgz
  charts/lifelines-webshop/charts/molgenis-1.16.2.tgz
  charts/lifelines-webshop/requirements.lock
  charts/lifelines-webshop/requirements.yaml
Labels: chart-lifelines

#517 feat(jupyterhub): add session configuration(Sido)
  charts/jupyterhub/Chart.yaml
  charts/jupyterhub/questions.yml
  charts/jupyterhub/values.yaml
Labels: chart-jupyterhub

#518 fix(nfs): be able to point to the default storage class
  charts/nfs/Chart.yaml
  charts/nfs/questions.yaml
  charts/nfs/values.yaml
Labels: chart-nfs

#520 feat(molgenis-jenkins)(nfs): helm 2to3
  charts/molgenis-jenkins/Chart.lock
  charts/molgenis-jenkins/Chart.yaml
  charts/molgenis-jenkins/charts/jenkins-3.12.1.tgz
  charts/molgenis-jenkins/charts/jenkins-3.2.5.tgz
  charts/molgenis-jenkins/questions.yml
  charts/molgenis-jenkins/requirements.lock
  charts/molgenis-jenkins/requirements.yaml
  charts/molgenis-jenkins/resources/tests/e2e-commander/Jenkinsfile
  charts/molgenis-jenkins/values.yaml
  charts/nfs/Chart.lock
  charts/nfs/Chart.yaml
  charts/nfs/questions.yaml
  charts/nfs/requirements.yaml
Labels: chart-jenkins

#523 - feat(logging): helm charts to v3
  charts/molgenis-logging/Chart.lock
  charts/molgenis-logging/Chart.yaml
  charts/molgenis-logging/requirements.yaml
Labels: chart-logging

#524 - feat(grafana): helm to v3
  charts/molgenis-grafana/Chart.lock
  charts/molgenis-grafana/Chart.yaml
  charts/molgenis-grafana/requirements.yaml
Labels: chart-grafana
